%p
  %b Weight:
  = @fuel_calculator.weight
  %b Body Weight in Kilograms
  = @fuel_calculator.convert_lb_to_kg
%p
  %b Distance:
  = @fuel_calculator.distance
  %b Distance in Kilometers:
  = @fuel_calculator.convert_miles_km
%p
  %b Elevation:
  = @fuel_calculator.elevation
  %b Elevation Gain in Kilometers
  = @fuel_calculator.elevation_gain_km
%p
  %b Estimate time:
  = @fuel_calculator.estimate_time
  %b Average Pace/Mile:
  = @fuel_calculator.average_pace_mile
%p
  %b Temperature:
  = @fuel_calculator.temperature.text
%p
  %b Estimate start:
  = @fuel_calculator.estimate_start.text
  %hr

%p
  %h4 Pre-run Fuel Target
  %b Carbohydrates:
  = @fuel_calculator.carbohydrates
  %hr

%p
  %h4 Expected Workout Totals
  %b Caloric Burn Rate
  = @fuel_calculator.caloric_burn_rate
  %br
  %b Running Power
  = @fuel_calculator.running_power
  %hr

%p
  %h4 Long run/race fueling target
  %b These amounts should be consumed hourly while running
  %p
  %b Carbohydrates:
  = @fuel_calculator.while_running_carbohydrates
  %br
  %b Sodium:
  = @fuel_calculator.while_running_sodium
  %br
  %b Water:
  = @fuel_calculator.temperature.fluid

= link_to 'Edit', edit_fuel_calculator_path(@fuel_calculator)
\|
= link_to 'Back', fuel_calculators_path
